  .carousel-options {
    text-align: center;
    position: relative;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.8);
  }
  
  .carousel-container-x {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    grid-gap: 20px;
    align-items: center;
    /* margin: auto; */
  }
  .carousel-container-x > div {
    transition: all 1s ;
  }
  .carousel-container-y {
    /* width: 300px; */
    height: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    grid-gap: 20px;
  }
  
  .carousel-container-y > div {
    transition: all 1s ;
  }
